beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.2
colorama==0.4.6
dipy==1.7.0
h5py==3.10.0
idna==3.4
importlib-resources==6.1.1
nibabel==5.1.0
numpy==1.24.4
packaging==23.2
pandas==2.0.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
scipy==1.10.1
six==1.16.0
soupsieve==2.5
TIME-python==0.0.17
tqdm==4.66.1
tzdata==2023.3
urllib3==2.0.7
zipp==3.17.0